* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.navabar-logo img {
    width: 15px;
}

.card {
    height: 250px;
}

.banner-bg {
    padding: 235px;
    background: rgb(146, 180, 255);
    background: radial-gradient(circle, rgba(146, 180, 255, 1) 0%, rgba(0, 28, 142, 1) 100%);
    border-radius: 25px;
}

.banner-bg h1 {
    color: aliceblue;
}